@charset "utf-8";
body {
    background-color: lightblue;
	}

h1 {
    color: navy;
    margin-left: 20px;
}
/* THESE ARE OLDSTYLE COMPONENTS
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	margin:0px auto;
	align: left;
	width: 20%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
	width: 20%;
}

td input[type="checkbox"] {
    float: left;
    margin: 0 auto;
    width: 100%;
}
tr:nth-child(even).fullTab {
    background-color: #dddddd;
}
input {
	height: 20px;
	margin: 5px;
	width:200px;
}
*/
table.myTab {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	margin:0px auto;
	text-align: center;
	align: center;
	table-layout:fixed;
	width: 30%;
}
	.col1 { width: 30px; }
	.col2 { width: 100px; }
	.col3 { width: 290px; }
	.col4 { width: 270px; }
	.col300 { width: 300px; }
	.col500 { width: 500px; }
	.col50 { width: 50px; }
	.col80 { width: 80px; }
	.col90 { width: 90px; }
	.col120 { width: 120px; }
table.aviaTab_pack {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	margin:0px auto;
	text-align: center;
	align: center;
	table-layout:fixed;
	width: 60%;
}
table.fullTab {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	margin:0px auto;
	text-align: center;
	align: center;
	width: 75%;
}
table.Full {
    font-family: arial, sans-serif;
    border-collapse: collapse;
	margin:0px auto;
	text-align: center;
	width: 100%;
}

.tab_h2 {
	color: blue;
    background-color: #dddddd;
}
.tab_h3 {
	color: blue;
    background-color: #ddddd0;
}
.tab_normal
{
	text-align: left;
}
form {
    font-family: arial, sans-serif;
    border-collapse: #000000;
	margin:0px auto;
    width: 50%;
}


div.errorMsg {color: red}
.errors{color: red}
.invalidElem {
 font-family: times,sans-serif;
 font-size: 80%;
 font-weight: normal;
 text-decoration: underline;
background-color: pink;
color: red;
}

 /* Dropdown Button */
.dropbtn {
    background-color: navy;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#livesearch_input{
	width:100px;
}

.addbutton {
	text-align: center;
	vertical-align:middle;
	font-size: 13px;
	width: 283px;
	border: 1px solid #70A9FD;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	cursor: pointer;
	margin: 2px 0 0 110px;
	color: #326DC5;
	padding: 4px;
	background-color:#BED6FF;
}

.deletebutton {
	width: 20px;
	height: 22px;
	cursor: pointer;
	margin: 5px;
	display:inline-block;
	background: url(delete.png) repeat;
	background-position: center left;
	background-repeat: no-repeat;
	position:absolute;
	top: 13px;
	left: 320px;
}
.deletebutton_bundle {
	width: 20px;
	height: 22px;
	cursor: pointer;
	margin: 5px;
	display:inline-block;
	background: url(delete.png) repeat;
	background-position: center left;
	background-repeat: no-repeat;
	
}
.add {
	position:relative;
}
caption {
  font-family: annabelle, cursive;
  font-weight: bold;
  font-size: 2em;
  padding: 10px; 
  color: navy;
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
 }
caption:before, caption:after {
  content: "\274B";
  color: #A9E2CC;
  margin: 0 10px;
}
/* For marking text in menus*/
   .colortext {
    background-color: lightblue; /* Цвет фона */
    color: black; /* Цвет текста */
	 
	border: 1px solid #aaa;
	font-weight: bold;
	text-align: center;
	padding: 3px;
   }
   tab1 { padding-left: 4em; }
    tab2 { padding-left: 8em; }
    tab3 { padding-left: 12em; }
    tab4 { padding-left: 16em; }
    tab5 { padding-left: 20em; }
    tab6 { padding-left: 24em; }
    tab7 { padding-left: 28em; }
    tab8 { padding-left: 32em; }
    tab9 { padding-left: 36em; }
    tab10 { padding-left: 40em; }
    tab11 { padding-left: 44em; }
    tab12 { padding-left: 48em; }
    tab13 { padding-left: 52em; }
    tab14 { padding-left: 56em; }
    tab15 { padding-left: 60em; }
    tab16 { padding-left: 64em; }
  
  /* BELOW FOR LIVE SEARCH*/
  .search_result{
    background: #FFF;
    border: 1px #ccc solid;
    width: 100px;
    border-radius: 4px;
    max-height:100px;
    overflow-y:scroll;
    display:none;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #0896D3;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

.search_result li:hover{
    background: #F9FF00;
}
/* DISCOUNTS*/
span.discount {
	color: red;
	
	font-family: currier, cursive;
	font-size: 1em;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

/* RADIO BUTTONS*/
.dark { background-color: #4c6271; width:200px; font-size: 80%; border: 1px solid #0846cb; }
.light { background-color: #fff; text-align: center; }


/* https://codepen.io/sureshrkm/pen/rLoZjP */
.custom-check {
  border-left: 2px solid #eb4132
}

.form-group.required .custom-check.no-error-border {
  border-color: transparent!important
}

.form-group.required .nps .scores {
  background: #eb4132;
  border-radius: 4px
}

.form-control:hover {
  border-color: #8d8d8d
}

.form-control:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0 2px 3px 0 rgba(102, 175, 233, .35);
  -moz-box-shadow: 0 2px 3px 0 rgba(102, 175, 233, .35);
  box-shadow: 0 2px 3px 0 rgba(102, 175, 233, .35)
}

.custom-check {
  position: relative;
  display: block;
  min-height: 22px;
  margin: 10px 0;
  border-left: 2px solid transparent
}

.custom-check>input {
  opacity: 0;
  position: absolute
}

.custom-check>label {
  font-family: 'Open Sans', sans-serif, Arial;
  color: #00ffff;
  cursor: pointer;
  vertical-align: middle;
  font-size: 14px;
  text-transform: none;
  padding: 0 0 0 37px
}

.custom-check>input+label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 22px;
  height: 22px;
  background: white;
  box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, .07), inset 0 0 0 1px #b7b7b7;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  display: inline-block;
  vertical-align: middle
}

.custom-check>input:hover+label:before,
.custom-check>input:focus+label:before {
  box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, .1), inset 0 0 0 1px #adadad;
  background: #f9f9f9
}

.custom-check>input+label:after,
.custom-check>input+label:after {
  content: '';
  position: absolute;
  opacity: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear
}

.custom-check>input:checked+label:after,
.custom-check>input.checked+label:after {
  opacity: 1
}

.custom-check>input[type=checkbox]+label:after,
.custom-check>input[type=checkbox]+label:after {
  width: 16px;
  height: 14px;
  top: 5px;
  left: 8px;
  background: url(https://insights.hotjar.com/static/app/img/checkbox-inner.png) center center no-repeat;
  background-size: 16px
}

.custom-check>input[type=checkbox]+label:before {
  border-radius: 4px
}

.custom-check>input[type=checkbox]:checked+label:before,
.custom-check>input[type=checkbox].checked+label:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), inset 0 0 0 12px #42ca49
}

.custom-check>input[type=checkbox]:checked:hover+label:before,
.custom-check>input[type=checkbox].checked:hover+label:before,
.custom-check>input[type=checkbox]:checked:focus+label:before,
.custom-check>input[type=checkbox].checked:focus+label:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), inset 0 0 0 12px #42ca49
}

.custom-check>input[type=radio]+label:before {
  border-radius: 50%
}

.custom-check>input[type=radio]+label:after,
.custom-check>input[type=radio]+label:after {
  width: 8px;
  height: 8px;
  top: 7px;
  left: 12px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .12)
}

.custom-check>input[type=radio]:checked+label:before,
.custom-check>input[type=radio].checked+label:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), inset 0 0 0 8px #42ca49
}

.custom-check>input:disabled+label,
.custom-check>input.disabled+label {
  opacity: .6
}

.custom-check>input:disabled:checked+label:before,
.custom-check>input:disabled.checked+label:before,
.custom-check>input.disabled:checked+label:before,
.custom-check>input.disabled.checked+label:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05), inset 0 0 0 12px #999
}
.form-sec {
  display:block;
  width: 300px;
  margin: 0 auto;
}
.page-back {
  display:table;
    color: #fff;
    padding: 150px;
    background: #273041;
    width: 100%;
    
}
/* SELECTOR TOGGLE SWITCH https://codepen.io/JiveDig/pen/jbdJXR*/
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 40px;
	overflow: hidden;
	
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
/* My div */
.center {text-align:center;}
/*My arrow in Export*/
.my_arrow {
	color: blue;
	font-size: 30px;
    font-family: 'Open Sans', sans-serif, Arial;
	
}